!.travis.yml
.env
.travis/config.yml
.vscode/settings.json
*.env
**/.vscode
apt_auth.conf
build.tags
calendar/kopano-calendar-*/
data/*
dive.log
docker-compose.override.yml
*.pem
apt_auth.conf
.vagrant
