version: "3.5"

services:
  web:
    ports:
      - "8443:8443" # this port should be firewalled off so that only known instances of kwmbridge can connect tot it
  kopano_kwmserver:
    environment:
      - enable_mcu_api=yes

  kopano_kwmbridge:
    image: ${docker_repo:-zokradonh}/kopano_kwmbridge:${KWMBRIDGE_VERSION:-latest}
    read_only: true
    restart: unless-stopped
    depends_on:
      - kopano_kwmserver
    environment:
      - INSECURE=${INSECURE}
      - oidc_issuer_identifier=https://${FQDN}
      - kwm_server_urls=https://${FQDNCLEANED}:8443
    env_file:
      - kopano_kwmbridge.env
    volumes:
      - /etc/machine-id:/etc/machine-id
      - /etc/machine-id:/var/lib/dbus/machine-id
      - kopanossl/:/kopano/ssl
    network_mode: "host"
    tmpfs:
      - /tmp
