# modify below to build a different version, than the kopano nightly release
KOPANO_CORE_REPOSITORY_URL=https://serial:xxxx@download.kopano.io/supported/core:/final/Debian_9.0/
KOPANO_WEBAPP_REPOSITORY_URL=https://serial:xxxx@download.kopano.io/supported/webapp:/final/Debian_9.0/
RELEASE_KEY_DOWNLOAD=1
DOWNLOAD_COMMUNITY_PACKAGES=0
